html
    head    
        title Article
    body
        h1 #{myTitle}
        h1#toto.pair Ci dessous formulaire
        a(href="https://amazon.com", target="_blank") aller sur amazon
        h2 Comptage