html
    head    
        title "titre de ma page"
    body
        h1#toto.pair titre de ma page
        p.impair paragraphe 1
            a test de texte
        p.impair paragraphe 1
        p c'est l'indentation qui permet de fermer les balises, balise.qlqc permet de définir la class, balise#id permet de définir l'ID
        