html
    head    
        title Home
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    body
        p #{message}
        button#btn GO
        p#utilisateurs
        script(src="/js/home.js", type="text/javascript")
                        